
body{
    background-color: #f3eeee;
    font-family:'roboto', sans-serlf;
}
  .Sign{
      width: 250px;
      height: 600px;
      margin: auto;
      border-radius: 3px;
  }
  

 h1{
     text-align: center;
     padding-top: 15px;
 }
 
 h4{
     text-align: center;
     padding-top: 15px;
 }
 form{
     width: 360px;
     margin-left: 20px; 
 }

 form label {
      display: flex;
      margin-top: 20px;
      font-size: 18px;
 }
 form input{
     width: 100x;
     padding: 7px;
     border: none;
     border: 1px solid gray;
     border-radius: 6px;
     outline: none;
 }

 input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(51, 156, 24);
    color: white;
}
 /* form input{
    type:"button"
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color; rgb(51, 156, 24);
    color: white;
    font-size: 25px;
} */
 form {
    width: 360px;
    height: 270px;
    margin: auto;
    background-color: rgb(123, 171, 59);
    border-radius: 3px;
}
form lable{
    width: 20px;
    height: 30px;
}

 
